.application
{
  width: 100%;
  height: 100%;
  margin-top : 25px;
}

.player
{
  position: relative;
  width: 80vw;
  height: 80vw;
  max-width: 400px;
  max-height: 400px;
  padding : 25px;
}

.player > canvas, .player > .needUpdateScreen
{
    width: 100%;
    height: 100%;
}

.settings
{
  position: relative;
  padding : 25px;
}

.inputs
{
  display: block !important;
  margin : 10px;
}

.blockinputs
{
  display: inline-block !important;
  padding : 10px;
  margin : 10px;
  width: 80vw;
  height: auto;
  max-width: 400px;
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0px 2px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0px 2px 0 rgb(0 0 0 / 12%);
}

.needUpdateScreen
{
  position : absolute;
  top: 0;
  left: 0;
}
.background
{
  position : absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.needUpdateScreen > .background
{
  opacity: 0.5;
}

.needUpdateScreen > .button
{
  top: 50%;
}